* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    min-height: 1.2rem;
    font-weight: bold;
}

.temporizador{
    background-color: white;
    padding: 2.5rem;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
    width: 100%;
    max-width: 400px;
}

input{
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    transition: border-color 1s;
}

input:hover{
    border: 1px solid black;
}

input.focus{
    outline: none;
    border-color: black;
    box-shadow: 0 0 0 3px rgb(79, 70, 229, 0.1);
}

button{
    width: 100%;
    padding: 0.5rem;
    background-color: palegreen;
    color: var(--white);
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background 1s;
}

button:hover{
    background-color: rgb(109, 182, 109);
}

.numero{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    min-height: 1.2rem;
    font-weight: bold;
}