* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #111111, #0e0e0e);
    height: 100vh;
}
#titulo{
    margin-top: 1rem;
    font-size: 4rem;
    text-align: center;
    min-height: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 17rem;
    color: whitesmoke;
}

#titulo-2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.quadrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temporizador{
    background-color: whitesmoke;
    padding: 2.5rem;
    border-radius: 6px;
    box-shadow: 1px 8px 15px rgb(135, 135, 136);
    width: 100%;
    max-width: 400px;
}


input{
    margin-left: 4.5rem;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    transition: border-color 1s;
}

input:hover{
    border: 1px solid black;
}

input.focus{
    outline: none;
    border-color: black;
    box-shadow: 0 0 0 3px rgb(79, 70, 229, 0.1);
}

button{
    width: 100%;
    padding: 0.5rem;
    background-color: palegreen;
    color: var(--white);
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background 1s;
}

button:hover{
    background-color: rgb(109, 182, 109);
}

.numero{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    min-height: 1.2rem;
    font-weight: bold;
}